In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("datas/top5-players.csv") 

print(df.columns)

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', 'MP',
       'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt',
       'CrdY', 'CrdR', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR',
       'Gls_90', 'Ast_90', 'G+A_90', 'G-PK_90', 'G+A-PK_90', 'xG_90', 'xAG_90',
       'xG+xAG_90', 'npxG_90', 'npxG+xAG_90'],
      dtype='object')

In [4]:
# Colonnes numériques à analyser
numerical_cols = df.select_dtypes(include=np.number).columns.tolist()

# Statistiques par club (Squad)
stats_par_club = df.groupby('Squad')[numerical_cols].agg(['mean', 'median', 'std'])
display(stats_par_club)

                        Rk                            Age                   \
                      mean  median         std       mean median       std
Squad
Alavés         1732.366667  1984.0  760.445218  24.066667   24.0  3.703990
Almería        1442.142857  1526.0  764.818784  24.485714   25.0  4.572111
Arsenal        2074.760000  2203.0  591.365248  24.800000   24.0  3.488075
Aston Villa    1465.483871  1466.0  798.808148  25.258065   25.0  4.179057
Atalanta       1601.310345  1727.0  805.630813  26.034483   25.0  4.609639
...                    ...     ...         ...        ...    ...       ...
Villarreal     1369.750000  1495.5  877.604106  27.000000   26.5  5.764183
Werder Bremen  1488.133333  1352.0  861.305654  25.366667   26.0  4.046994
West Ham       1178.230769  1042.0  864.191845  27.000000   27.0  4.874423
Wolfsburg      1472.714286  1495.0  956.052294  24.107143   24.0  4.201757
Wolves         1138.888889   994.0  773.580851  24.592593   24.0  4.525647

                      Born                           MP  ...    xAG_90  \
                      mean  median       std       mean  ...       std
Squad                                                    ...
Alavés         1998.466667  1999.0  3.785028  20.166667  ...  0.091146
Almería        1998.200000  1998.0  4.587707  16.971429  ...  0.076880
Arsenal        1997.760000  1998.0  3.666061  22.880000  ...  0.123238
Aston Villa    1997.387097  1997.0  4.112399  18.354839  ...  0.093339
Atalanta       1996.793103  1998.0  4.577736  20.896552  ...  0.108421
...                    ...     ...       ...        ...  ...       ...
Villarreal     1995.593750  1996.0  5.802443  18.625000  ...  0.085435
Werder Bremen  1997.300000  1997.0  4.018492  17.566667  ...  0.080844
West Ham       1995.346154  1995.5  4.655683  20.269231  ...  0.072351
Wolfsburg      1998.714286  1999.0  4.267510  18.892857  ...  0.074140
Wolves         1998.111111  1998.0  4.466399  20.888889  ...  0.113199

              xG+xAG_90                    npxG_90                   \
                   mean median       std      mean median       std
Squad
Alavés         0.182333  0.095  0.205991  0.095333  0.035  0.126566
Almería        0.201429  0.110  0.199855  0.127143  0.050  0.153385
Arsenal        0.299600  0.160  0.263699  0.158000  0.090  0.162942
Aston Villa    0.217419  0.170  0.214615  0.139355  0.070  0.163909
Atalanta       0.239655  0.110  0.249521  0.132414  0.060  0.145152
...                 ...    ...       ...       ...    ...       ...
Villarreal     0.190938  0.140  0.184851  0.103438  0.055  0.126838
Werder Bremen  0.184333  0.125  0.189148  0.103667  0.070  0.113487
West Ham       0.203077  0.115  0.210176  0.134231  0.070  0.178060
Wolfsburg      0.183214  0.160  0.161865  0.108571  0.075  0.101715
Wolves         0.204074  0.120  0.243141  0.115926  0.060  0.135200

              npxG+xAG_90
                     mean median       std
Squad
Alavés           0.170333  0.095  0.187368
Almería          0.198286  0.110  0.193884
Arsenal          0.281200  0.160  0.231882
Aston Villa      0.214516  0.170  0.213086
Atalanta         0.233793  0.110  0.243962
...                   ...    ...       ...
Villarreal       0.184062  0.140  0.176432
Werder Bremen    0.178667  0.125  0.175533
West Ham         0.195385  0.115  0.202687
Wolfsburg        0.179643  0.160  0.157327
Wolves           0.198519  0.120  0.235824

[96 rows x 96 columns]